<ng-container *ngIf="user; else loading">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center">
      <img [src]="user.avatar" class="img-fluid avatar" alt="avatar" />
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
        <p class="card-text">
          User ID: {{ user.id }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <app-progress-bar></app-progress-bar>
</ng-template>
